@import "../../../style";

.wrap {
	margin-bottom: $gutter;
}

.title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 4px;
}

.table, table tbody, .table tr, .table td {
	padding: 0;
	margin: 0;
	border: none;
	vertical-align: top;
}

.quantity {
	color: cornflowerblue;
	font-weight: 600;
	text-align: right;
	white-space: nowrap;
	padding-right: 6px !important;
}

.value {
	color: #555;
}
