$imageSize: 90px;

.wrap {
	background-color: white;
	display: flex;
	border-radius: 16px;
	margin-bottom: 16px;
	height: $imageSize;
	overflow: hidden;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, .1);
}

.image {
	width: $imageSize;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.data {
	flex: 1;
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	margin-bottom: 6px;
	margin-top: -8px;
}
